<% unless current_person?(@user) %>
  <div id="follow_form">
  <% if current_person.following?(@user) %>
    <%= render 'unfollow' %>
  <% else %>
    <%= render 'follow' %>
  <% end %>
  </div>
<% end %>
